
<app-header>Text1</app-header>

<h3>Welcome TWIN7</h3>
<router-outlet></router-outlet>



<!-- {{x}}

 <img [src]="url" alt="" width="50%" (click)="f()"> <br><br><br><br><br> 
<input type="text"  [(ngModel)]="x">

<div *ngIf="x==0 else alt">
    <p>Salut tout le monde</p>
</div>

<ng-template #alt>
    <p>Bonsoir tout le monde</p>
</ng-template>

<ul *ngFor="let item of list, let i=index, let e=even, let o=odd">
    <li>{{i}} : {{item}}</li>
</ul>
<hr>
<h2 [ngStyle]="{'color':getColor()}">NgSTYLE</h2>
<h2 [ngClass]="{'c1':val1, 'c2':val2}">NgClass</h2>
<h2  appMyDirective >myDirective</h2> -->